<!DOCTYPE html>
<html ng-app="petzoApp">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href=".../static/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src=".../static/jquery.js"></script>
    <script type="text/javascript" src=".../static/angular.min.js"></script>
	<title></title>
</head>
<body>

<form>
	<br>
	<input type="text" name="petName" placeholder="Enter your Pet's Name">
	<input type="radio" name="breed" value="Breed" checked>
	<input type="radio" name="breed" value="Cross Breed"><br>
	<p>Start typing your Breed's Name</p>
	<input type="text" name="selectBreed">
	<p>Age</p>
	<h5>Years</h5>
	<select>
		<option value="0"></option>
		<option value="1"></option>
		<option value="2"></option>
		<option value="3"></option>
		<option value="4"></option>
		<option value="5"></option>
		<option value="6"></option>
		<option value="7"></option>
		<option value="8"></option>
		<option value="9"></option>
		<option value="10"></option>
		<option value="11"></option>
		<option value="12"></option>
		<option value="13"></option>
		<option value="14"></option>
		<option value="15"></option>
		<option value="16"></option>
		<option value="17"></option>
		<option value="18"></option>
		<option value="19"></option>
		<option value="20"></option>
	</select>
	<h5>Months</h5>
	<select>
		<option value="0"></option>
		<option value="1"></option>
		<option value="2"></option>
		<option value="3"></option>
		<option value="4"></option>
		<option value="5"></option>
		<option value="6"></option>
		<option value="7"></option>
		<option value="8"></option>
		<option value="9"></option>
		<option value="10"></option>
		<option value="11"></option>
		<option value="12"></option>
	</select>
	<h4>OR</h4>
	<p>DOB</p>
	<h5>Years</h5>
	<select>
		<option value="2017"></option>
		<option value="2016"></option>
		<option value="2015"></option>
		<option value="2014"></option>
		<option value="4"></option>
		<option value="5"></option>
		<option value="6"></option>
		<option value="7"></option>
		<option value="8"></option>
		<option value="9"></option>
		<option value="10"></option>
		<option value="11"></option>
		<option value="12"></option>
		<option value="13"></option>
		<option value="14"></option>
		<option value="15"></option>
		<option value="16"></option>
		<option value="17"></option>
		<option value="18"></option>
		<option value="19"></option>
		<option value="20"></option>
	</select>
	<h5>Months</h5>
	<select>
		<option value="0"></option>
		<option value="1"></option>
		<option value="2"></option>
		<option value="3"></option>
		<option value="4"></option>
		<option value="5"></option>
		<option value="6"></option>
		<option value="7"></option>
		<option value="8"></option>
		<option value="9"></option>
		<option value="10"></option>
		<option value="11"></option>
		<option value="12"></option>
	</select>
</form>
<script type="text/javascript" src="app.js"></script>
</body>
</html>