<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
</head>
<body>

{% if not allowed %}
<form action="/blog/check/" method="POST">
	{% csrf_token %}
	<h2>{{ message }}</h2><br>
	<input type="text" name="code">
	<input type="Submit">
</form>
{% endif %}

{% if allowed %}

<h4>{{ message }}</h4>

<form action="/blog/add/" method="POST">
	{% csrf_token %}
	<h3>Heading</h3><br>
	<input type="text" name="Heading"><br>
	<h2>Content</h2><br>
	<input type="text" name="Content"><br>
	<h2>Author</h2><br>
	<input type="text" name="Author"><br>
	<input type="submit" value="submitPost">
</form>

{% endif %}

<ul>
	{% for p in posts %}
		<li>
			<h2>{{p.heading}}</h2>
			<h2>{{p.content}}</h2>
			<h2>{{p.author}}</h2>
			<h2>{{p.timestamp}}</h2>
			{% if p.image %}
				<img src="{{p.image}}">
			{% endif %}
		</li>
	{% endfor %}
</ul>
</body>
</html>